@import '../../../../personal/portfolio-site-final/node_modules/bootstrap/scss/bootstrap';
.Gradient-box {
  padding: 5%;
  background: linear-gradient(90deg, rgba(68,177,182,1) 0%, rgba(255,253,255,1) 100%);
}
.App-header {
  background-color: #b3b3b3;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2% + 2vmin);
  color: white;
  padding: 5%;
}

.btn {
  color: rgb(68, 177, 182);
}
.nav {
  background-color: #3b3b3b;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutMe {
  background-color: rgb(59, 59, 59);
  padding: 2% 2% 2% 2%;
  margin: 2% 2% 2% 2%;
  display: flex;
}

.Card{
  width: 24vw;
  height: 50vh;
  padding: 4%;
  overflow-y: scroll;
  background-color: darkcyan;
  color: white;
}
.cardsGroup {
  background-color: rgb(59, 59, 59);
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-auto-rows:  50vh;
  gap: 3%;
  width: 100%;
  padding-bottom: 5%;
  overflow-y: scroll;
}
.cardsGroup::-webkit-scrollbar {
  display: none;
}
.Card::-webkit-scrollbar {
  display: none;
}
.cardImg {
  width: 20vw;
  height: 20vh;
  padding: 1% 1% 1% 1%;

}
.navBarSet {
  padding: 2% 2% 2% 2%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(59, 59, 59);
  color: white;
}

.personalphoto {
  width: 20%;
  padding-right: 2%;
}
.aboutMeHeader {
  padding: 2%;
}
.EducationAccordion {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  background-color: white;
  color: black;
  padding: 5%;
}
.cardsGroupNonAccordion {
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-auto-rows:  50vh;
  gap: 3%;
  width: 100%;
  padding-bottom: 5%;
  overflow-y: scroll;
}
.classListItems {
  padding: 2% 2% 2% 2%;
}
.EducationAccordionClasses {
  padding: 2% 2% 2% 2%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  background-color: rgb(30,30,30);
  color: White;
}
.emptyDiv {
  width: 100%;
  height: 10%;
}
.workExperienceParagraph {
  padding: 4%;
  justify-self: left;
  justify-content: left;
  border-color: black;
  width: 70%;
}
.hashLink {
  text-decoration: none;
  color: black
}
.hashLink:hover {
  color: black;
}
.msoeInfo {
  padding: 2%;
}
.App {
  background-color: rgb(59, 59, 59);
  color: white;
}
.AccordionSet {
  background-color: rgb(59, 59, 59);
  color: white;
}