@import '../../../../personal/portfolio-site-final/node_modules/bootstrap/scss/bootstrap';

.aboutMe {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.aboutMeContents {
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  justify-content: center;
}
.aboutMePhoto {
  width: 20vw;
  height: 20vh;
  padding: 1%;
  min-width: 100px;
  min-height: 100px;
  max-width: 600px;
  max-height: 600px;
}
.Card{
  width: 24vw;
  height: 50vh;
  padding: 4%;
  overflow-y: scroll;
  background-color: darkcyan;
  color: white;
}
.cardsGroup {
  background-color: rgb(59, 59, 59);
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-auto-rows:  50vh;
  gap: 3%;
  width: 100%;
  padding-bottom: 5%;
  overflow-y: scroll;
}
.cardsGroup::-webkit-scrollbar {
  display: none;
}
.Card::-webkit-scrollbar {
  display: none;
}
.cardImg {
  width: 20vw;
  height: 20vh;
  padding: 1% 1% 1% 1%;

}
.hashLink {
  color: white;
}
.btn, .btn:hover {
  color: white;
  background-color: #4C5270;
}
.personalphoto {
  width: 20%;
  padding-right: 2%;
}
.EducationAccordion {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: row;
  background-color: inherit;
  color: inherit;
  padding: 2%;
}
.cardsGroupNonAccordion {
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-auto-rows:  50vh;
  gap: 3%;
  width: 100%;
  padding-bottom: 5%;
  overflow-y: scroll;
}
.classListItems {
  padding: 2% 2% 2% 2%;
}
.EducationAccordionClasses {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  background-color: rgb(30,30,30);
  color: White;
}
.emptyDiv {
  width: 100%;
  height: 10%;
}
.workExperienceParagraph {
  justify-self: left;
  justify-content: left;
  border-color: black;
}

.msoeInfo {
  padding: 2%;
}
.App {
  background-color: rgb(59, 59, 59);
  color: white;
}
.accordion-item, .accordion-item-header, .accordion, .accordion-header, button.accordion, button.accordion-button, button.accordion-button:not(.collapsed) {
  border-color: #3b3b3b;
  background-color: rgb(59,59,59);
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
.timeline {
  padding: 2%;
  width: 100%;
  height: 30%;

}
.largeImage {
  width: 40%;
  height: 37%;

  justify-content: center;
  padding-right: 5%;
}
.projectDescription {
  padding-bottom: 1%;
  font-size: 1.25em;
}
.workExperienceParagraphFont {
  justify-self: left;
  justify-content: left;
  border-color: black;
  font-size: 1.25em;
}
.hashLink {
  color: white;
  text-decoration: none;
}
.hashLink:hover {
  color: darkcyan;
  text-decoration: none;
}