.footer {
    width: 100%;
    height: 25vh;
    background-color: #09094F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2%;
}
a {
    color: darkturquoise;
}
a:hover {
    color: darkcyan;
}
.contactLinks {
    display: flex;
    flex-direction: row;
    padding: 10px 5% 10px 10px;
}
.links {
    width: 30%;
}
.contactMeText {
    width: 50%;
}
.footerText {
    font-size: 1.25em;
}