.navButton {
    background-color: darkcyan;
    color: white;
    border: #3b3b3b;
    flex-grow: initial;
}
.navButton:hover {
    background-color: darkgray;
}
.nav {
    padding-left: 10px;
    padding-right: 10px;
}

.routerLink {
    color: white;
    text-decoration: none;
}
.routerLink:hover {
    color: white;
    text-decoration: none;
}