.navButton {
    background-color: darkcyan;
    color: white;
    border: #3b3b3b;
    flex-grow: initial;
}
.navButton:hover, .navButton:active {
    background-color: darkgray;
}

.routerLink {
    color: white;
    text-decoration: none;
}
.routerLink:hover, .routerLink:active {
    color: white;
    text-decoration: none;
}